body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-height: 100vh;
    background-color: #f2f2f2;
}

header {
    background-color: #5995fd;
    color: #fff;
    text-align: left;
    height: 10vh;
}
.jsonMargin{
 margin-top: 20vh;
  
}
.jsonUpload {
  position: fixed;
  height: 90vh;
  width: 88%;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: all 0.5s ease-in;
  overflow-y: auto;
}

.adminstuff {
  position: relative;
  height: 100vh;
  width: 12%;
  left: 0;
  background-color: white;
  transition: all 0.5s ease-in;
  overflow-y: auto;
}

.nav-bar {
    position: relative;
    overflow-x: hidden;
  }
  
  .menu {
    display: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
  }
  
  .nav-bar ul {
    padding: 0%;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: black;
  }
  
  li {
    text-align: center;
    padding: 7%;
    border-bottom: 2px groove rgba(255, 255, 255, 0.466);
    background-color: white;
    font-weight: bold;
  }
  
  li:hover {
    text-align: center;
    padding: 7%;
    border-bottom: 2px groove transparent;
    border-radius: 0.5em;
    background-color: #c8c8c8;
    font-weight: bold;
  }
  
  #selected {
    background-color: #e1e1e1;
    border-radius: 0.5em;
  }
  
  #last-nav-element {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom: none;
  }