body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  min-height: 100vh;
  background-color: #f2f2f2;
}

header {
  background-color: #5995fd;
  color: #fff;
  text-align: left;
  height: 10vh;
}

.PageMargin {
  margin-top: 5vh;

}

.Page {
  position: fixed;
  height: 90vh;
  width: 88%;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: all 0.5s ease-in;
  overflow-y: auto;
}

.adminstuff {
  position: relative;
  height: 90vh;
  width: 12%;
  left: 0;
  background-color: white;
  transition: all 0.5s ease-in;
  overflow-y: auto;
}

.nav-bar {
  position: relative;
  overflow-x: hidden;
}

.menu {
  display: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.nav-bar ul {
  padding: 0%;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

li {
  text-align: center;
  padding: 7%;
  border-bottom: 2px groove rgba(255, 255, 255, 0.466);
  background-color: white;
  font-weight: bold;
}

li:hover {
  text-align: center;
  padding: 7%;
  border-bottom: 2px groove transparent;
  border-radius: 0.5em;
  background-color: #c8c8c8;
  font-weight: bold;
}

#selected {
  background-color: #e1e1e1;
  border-radius: 0.5em;
}

#last-nav-element {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom: none;
}
/* Form container */
#dateForm {
  position: relative;
  text-align: center;
  margin: 0px auto;
  max-width: 300px; /* Adjust the width as needed */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Label style */
label {
  display: block;
  margin-bottom: 10px;
}

/* Input field style */
#monthYearInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button style */
#submitBtn {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submitBtn:hover {
  background-color: #0056b3;
}
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="file"] {
  margin-bottom: 10px;
}

input[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style for the delete button */
#deleteButton {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  align-items:center;
}

/* Style for the message div */
#message {
  margin-top: 20px;
  font-weight: bold;
  color: green; /* You can change the color to your preference */
  text-align: center; /* Center the content horizontally */
}
#deleteShopsButton {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  align-items:center;
}