/* Styles for the general layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Styles for the search bar */
.search-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#searchBox {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#searchResults {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

#searchResults .resultItem {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#searchResults .resultItem:hover {
    background-color: #f0f0f0;
}

/* Styles for the dropdowns */
.ddropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#categories,
#subcategories {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

/* Styles for the product grid and items */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 80px;
    margin-right: 20px;
}

.product-name {
    font-size: 16px;
    color: #333;
    text-align: center;
    flex-grow: 1;
}

.submit-button {
    background-color: #007bff;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 15px 20px;
    /* Adjusted button size */
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #0056b3;
}