.profile_page {
  background-image: linear-gradient(to right, #43cea2, #185a9d);
  height: 100vh;
  width: 88%;
  position: absolute;
  right: 0;
  overflow: auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 30% 35% 35%;
  grid-template-areas: "user_info likes_dislikes offers"
    "user_score likes_dislikes offers";
}

.user_info {
  grid-area: user_info;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.user_score {
  grid-area: user_score;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes_dislikes {
  grid-area: likes_dislikes;
  background-color: transparent;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
}

.offers {
  grid-area: offers;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.inner_user_info {
  background-color: white;
  padding: 5% 5% 5% 5%;
  border-radius: 2em;
  border: solid black 2px;
}

.inner_user_score {
  background-color: white;
  padding: 5% 15% 15% 15%;
  border-radius: 2em;
  border: solid black 2px;
}

.inner_likes_dislikes {
  background-color: white;
  padding: 10%;
  max-height: 80vh;
  border-radius: 2em;
  border: solid black 2px;
  margin: 1%;
  overflow-x: auto;
}

.inner_offers {
  background-color: white;
  padding: 10%;
  max-height: 80vh;
  border-radius: 2em;
  border: solid black 2px;
  margin: 1%;
  overflow-x: auto;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

#inner_box {
  box-shadow: 5px 5px 3px 5px rgba(0, 0, 0, 0.5);
}

#account_heading {
  border-bottom: solid 1px grey;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
}

button :hover{
  cursor: pointer;
}
form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
